.hidden {
  display: none;
}
.order{
  cursor: pointer;
  margin-top: 15px;
  border: 2px solid black;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.24);
  }
.order:hover{
  box-shadow: none;
}  
.ordern{
  color: red;
}
.total{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Sesion{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(15, 15, 15)
}
.Nombre{
  text-align: center;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(71, 67, 67);
}
.Username{
  text-align: center;
  font-size: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(71, 67, 67);
  margin-bottom: 10px;
}
.norders{
  align-items:  center;
  color: red;
  font-size: 30px;
}
.inciesesion{
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(235, 232, 232);
  padding: 15px 32px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-left: 36%;
}
.inciesesion:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}