.Sesion{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(15, 15, 15)
}
.Pedido{
  color: green;
  font-size: 50px;
  text-align: center;
}
.boton-vacio{
  margin-left: 430px;
  margin-top: 20px;
  
}
.container{
  margin-top: 20px;
}